.curse{
    margin: auto;
    background-color: yellow;
    width: 400px;
    padding-bottom: 20px;
}
.curse > p {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 10px;
}
.curse1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.curse1 div{
    width: 100%;
}
.pSell{
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    text-align: center;
}
.pBuy{
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    text-align: center;
}
.evro{
    display: block;
    font-size: 1.7em;
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}