.osnova{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 467px;
    height: 415px;
}
.osnova div{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    width: 50px;
    height: 50px;
}
.button{
    display: none;
    margin: auto;
    width: 33rem;
    margin-bottom: 10px;
}
.button p{
    margin-left: 2rem;
}