table{
    margin: auto;
    width: 740px;
    height: 740px;
    border-spacing: 0px;
}
td{
    border: 1px solid rgb(0, 0, 0, 0.5);
}
#divForTanks{
    position: absolute;
    width: 740px;
    height: 740px;
}
