.div0, .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9{
    height: 100%;
    width: 10%;
    border: 1px solid black;
    margin-left: 10px;
    text-align: center;
}
#mainDiv{
    display: flex;
    height: 200px;
    width: 100%;
}