.slider{
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.slider div{
    display: flex;
    height: 100%;
    width: 500px;
}
.slider div img{
    height: 100%;
    width: 100%;
}
.slider input{
    height: 50px;
    width: 100px;
}
#img1{
    height: 100%;
    width: 500px;
    background-image: url("img/пейзаж1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: width 1s;
}
#img2{
    height: 100%;
    width: 0px;
    background-size: cover;
    transition: width 1s;
}
#img3{
    height: 100%;
    width: 0px;
    background-size: cover;
    transition: width 1s;
}
#img4{
    height: 100%;
    width: 0px;
    background-size: cover;
    transition: width 1s;
}
#img5{
    height: 100%;
    width: 0px;
    background-size: cover;
    transition: width 1s;
}
#img6{
    height: 100%;
    width: 0px;
    background-size: cover;
    transition: width 1s;
}